{% extends 'base.html.twig' %}

{% block title %}Create New Movie{% endblock %}

{% block body %}
	<div class="row">
		<div class="jumbotron text-center">
			<strong class="text text-warning"> Create New Movie</strong>
			<br>
			<a href="{{ path('movie_list') }}" class="btn btn-primary">Movie List</a>
		</div>
		<div class="container">
			<form action="{{ path('movie_store') }}" method="post">
				<div class="form-group">
					<label for="title">Movie Title</label>
					<input type="text" class="form-control" name="title" id="title" placeholder="Create New Title" >
				</div>
				<div class="form-group">
					<label for="title">Relase Date</label>
					<input type="date" class="form-control" name="release_year"  >
				</div>
				<div class="form-group">
					<label for="title">Movie Description</label>
					<textarea class="form-control" name="description" id="description" placeholder="Movie Description" ></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
			<hr>
			<br />
		</div>
	</div>
{% endblock %}
