{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}
    <h1>Helolo World</h1>
    <img src="{{ asset('images/one.jpg')}}" />
    <img src="images/one.jpg" />
{% endblock %}
