{% extends 'base.html.twig' %}

{% block title %}ACTOR List{% endblock %}

{% block body %}
<div class="row">
	<div class="jumbotron text-center">
		<h1>Actor List</h1>
		<p>World Best Movie Review Website</p> 
	</div>
	<div class="container">
		<h2>Actor List</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Actor Name </th>
				</tr>
			</thead>
			<tbody>
				{% for actor in actors %}
					<tr>
						<td>
							<a href="{{ path('actor_show', {'id': actor.id}) }}">
								{{ actor.name }}
							</a>
						</td>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
